@import "owl.carousel.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body{background:#ffffff;}



.main_wrapper {
   width: 1003px;
    height: auto;
    margin: auto;
    background:#E9E9E9;


}
.header_wrapper {
    width: 1000px;
   overflow: auto;
    margin: auto;
    /*background: url("../resimler/gg.jpg") no-repeat 0 0;*/
    background-size: cover;

}
#logo {
    float: left;
    width: 300px;
    height: 140px;
  margin-left:5px;
}
#logo img{
    display: block;
    width: 100%;
    height: auto;
}
.product-slider{
    width: 680px;
    float: right;
}
#banner {
    float: right;
    width: 700px;
    height: 140px;
}

#deneme .item{
    margin: 2px;
}
#deneme.item img{
    display: block;
    width: 100%;
    height: auto;
}

.menubar {
    width: 1000px;
    height: 50px;
    background:#E9E9E9 ;
    color: white;

}


#menu {

   padding: 0;
    margin: 0;
    line-height: 40px;
}

#menu li {
    list-style: none;
    display: inline;
    float: left;
}

#menu a {
    text-decoration: none;
    color:#000000;
    padding: 8px;
    margin: 5px;
    font-size: 18px;
    font-family: COMIC SANS MS;
}

#menu a:hover {
color: orange; font-weight: bolder;
text-decoration: underline;
}

#form {float: right; padding-right:8px; line-height: 50px; }

.content_wrapper {
    width: 1000px;
    position: relative;
    background:#FFD800 ;
}

#content_area {
    width: 800px;
    float:right;
    margin:0;
    padding: 0 0 30px 0;
    background:#FFD800 ;
    background-size: cover;
}


#sidebar {
    width: 200px;
    height: 100%;
    background:#ffffff ;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
   /* margin: 20px auto;*/
}

#sidebar_title {
    background: #E9E9E9;
    color: black;
    font-size: 22px;
    font-family: arial;
    padding: 10px;
}

#kategori {

    /*text-align: center*/

}

#kategori li {
    list-style: none; display: block;
}

#kategori a {
    color:#000000 ; padding: 8px; margin: 5px; text-align:center ; font-size: 18; font-family:"COMIC SANS MS";text-decoration:none;
}

#kategori a:hover {
    color: orange; font-weight: bolder;
    text-decoration: none;
}

#marka {
    /*text-align: center*/
}

#marka li {
    list-style: none; display: block;
}

#marka a {
    color: #000000; padding: 8px; margin: 5px;  font-size: 18px; font-family: "COMIC SANS MS";text-decoration:none;
}

#marka a:hover {
    color:orange; font-weight: bolder; text-decoration: underline;
}


#urun_box {

    width: 780px;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 10px;
    padding-top: 20px;

}

#tek_urun {float: left; margin-left: 20px; padding: 10px;}


#tek_urun img { border: 2px solid black  }

#alisveris_sepeti {width: 800px; height: 50px; background: black; color: white;}

#footer {
    width: 1000px;
    height: 100px;
    height: 100px;
    background: #B2AFAF ;
    clear: both;
    color: white
}